<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jerry.frame.demo.dao.common.gds.GdsCatg2PropMapper" >
  <resultMap id="BaseResultMap" type="com.jerry.frame.demo.model.common.gds.GdsCatg2Prop" >
    <result column="CATG_CODE" property="catgCode" jdbcType="VARCHAR" />
    <result column="PROP_ID" property="propId" jdbcType="DECIMAL" />
    <result column="IF_BASIC" property="ifBasic" jdbcType="VARCHAR" />
    <result column="IF_HAVETO" property="ifHaveto" jdbcType="VARCHAR" />
    <result column="IF_SEARCH" property="ifSearch" jdbcType="VARCHAR" />
    <result column="IF_GDS_INPUT" property="ifGdsInput" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_STAFF" property="createStaff" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="DECIMAL" />
    <result column="IF_ABLE_EDIT" property="ifAbleEdit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CATG_CODE, PROP_ID, IF_BASIC, IF_HAVETO, IF_SEARCH, IF_GDS_INPUT, STATUS, CREATE_TIME, 
    CREATE_STAFF, UPDATE_TIME, UPDATE_STAFF, IF_ABLE_EDIT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jerry.frame.demo.model.common.gds.GdsCatg2PropExample" >
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       select * from (select t_1.*,rownum as row_num from (
    </if>
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_GDS_CATG2PROP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitClauseStart != null and limitClauseStart >= 0" >
       <![CDATA[ ) t_1 where rownum<=#{limitClauseCount,jdbcType=INTEGER} + #{limitClauseStart,jdbcType=INTEGER}) t_2 where t_2.row_num>#{limitClauseStart,jdbcType=INTEGER}]]>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.jerry.frame.demo.model.common.gds.GdsCatg2PropExample" >
    delete from T_GDS_CATG2PROP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jerry.frame.demo.model.common.gds.GdsCatg2Prop" >
    insert into T_GDS_CATG2PROP (CATG_CODE, PROP_ID, IF_BASIC, 
      IF_HAVETO, IF_SEARCH, IF_GDS_INPUT, 
      STATUS, CREATE_TIME, CREATE_STAFF, 
      UPDATE_TIME, UPDATE_STAFF, IF_ABLE_EDIT
      )
    values (#{catgCode,jdbcType=VARCHAR}, #{propId,jdbcType=DECIMAL}, #{ifBasic,jdbcType=VARCHAR}, 
      #{ifHaveto,jdbcType=VARCHAR}, #{ifSearch,jdbcType=VARCHAR}, #{ifGdsInput,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateStaff,jdbcType=DECIMAL}, #{ifAbleEdit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jerry.frame.demo.model.common.gds.GdsCatg2Prop" >
    insert into T_GDS_CATG2PROP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catgCode != null" >
        CATG_CODE,
      </if>
      <if test="propId != null" >
        PROP_ID,
      </if>
      <if test="ifBasic != null" >
        IF_BASIC,
      </if>
      <if test="ifHaveto != null" >
        IF_HAVETO,
      </if>
      <if test="ifSearch != null" >
        IF_SEARCH,
      </if>
      <if test="ifGdsInput != null" >
        IF_GDS_INPUT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createStaff != null" >
        CREATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="ifAbleEdit != null" >
        IF_ABLE_EDIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catgCode != null" >
        #{catgCode,jdbcType=VARCHAR},
      </if>
      <if test="propId != null" >
        #{propId,jdbcType=DECIMAL},
      </if>
      <if test="ifBasic != null" >
        #{ifBasic,jdbcType=VARCHAR},
      </if>
      <if test="ifHaveto != null" >
        #{ifHaveto,jdbcType=VARCHAR},
      </if>
      <if test="ifSearch != null" >
        #{ifSearch,jdbcType=VARCHAR},
      </if>
      <if test="ifGdsInput != null" >
        #{ifGdsInput,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null" >
        #{createStaff,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="ifAbleEdit != null" >
        #{ifAbleEdit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jerry.frame.demo.model.common.gds.GdsCatg2PropExample" resultType="java.lang.Integer" >
    select count(*) from T_GDS_CATG2PROP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_GDS_CATG2PROP
    <set >
      <if test="record.catgCode != null" >
        CATG_CODE = #{record.catgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.propId != null" >
        PROP_ID = #{record.propId,jdbcType=DECIMAL},
      </if>
      <if test="record.ifBasic != null" >
        IF_BASIC = #{record.ifBasic,jdbcType=VARCHAR},
      </if>
      <if test="record.ifHaveto != null" >
        IF_HAVETO = #{record.ifHaveto,jdbcType=VARCHAR},
      </if>
      <if test="record.ifSearch != null" >
        IF_SEARCH = #{record.ifSearch,jdbcType=VARCHAR},
      </if>
      <if test="record.ifGdsInput != null" >
        IF_GDS_INPUT = #{record.ifGdsInput,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null" >
        CREATE_STAFF = #{record.createStaff,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null" >
        UPDATE_STAFF = #{record.updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="record.ifAbleEdit != null" >
        IF_ABLE_EDIT = #{record.ifAbleEdit,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_GDS_CATG2PROP
    set CATG_CODE = #{record.catgCode,jdbcType=VARCHAR},
      PROP_ID = #{record.propId,jdbcType=DECIMAL},
      IF_BASIC = #{record.ifBasic,jdbcType=VARCHAR},
      IF_HAVETO = #{record.ifHaveto,jdbcType=VARCHAR},
      IF_SEARCH = #{record.ifSearch,jdbcType=VARCHAR},
      IF_GDS_INPUT = #{record.ifGdsInput,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_STAFF = #{record.createStaff,jdbcType=DECIMAL},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_STAFF = #{record.updateStaff,jdbcType=DECIMAL},
      IF_ABLE_EDIT = #{record.ifAbleEdit,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <insert id="insertBatch" parameterType="com.jerry.frame.demo.model.common.gds.GdsCatg2Prop" >
    insert into T_GDS_CATG2PROP (CATG_CODE, 
      PROP_ID, IF_BASIC, IF_HAVETO, 
      IF_SEARCH, IF_GDS_INPUT, STATUS, 
      CREATE_TIME, CREATE_STAFF, UPDATE_TIME, 
      UPDATE_STAFF, IF_ABLE_EDIT)
    values <foreach collection="list" item="item" index="index" separator="," > (#{item.catgCode,jdbcType=VARCHAR}, 
      #{item.propId,jdbcType=DECIMAL}, #{item.ifBasic,jdbcType=VARCHAR}, #{item.ifHaveto,jdbcType=VARCHAR}, 
      #{item.ifSearch,jdbcType=VARCHAR}, #{item.ifGdsInput,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.createStaff,jdbcType=DECIMAL}, #{item.updateTime,jdbcType=TIMESTAMP}, 
      #{item.updateStaff,jdbcType=DECIMAL}, #{item.ifAbleEdit,jdbcType=VARCHAR})</foreach>
  </insert>
</mapper>